{% extends "expenses/base.html" %}

{% load static %}


{% block title %} Monthly Chart {% endblock %}

{% block content %}

<div class="container mt-5" style="max-width: 60%;">

    <h3>Here are the details of <span class="chart-heading">{{req_date|date:'F, Y'}}</span> </h3>

    <a class="btn btn-outline-primary mt-3 mb-3" href="{% url 'expenses:home' %}" role="button">🏡 Go back to home</a>
    <hr>

    <canvas id="myChart">

    </canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {% if labels %}
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');

            let dates = [];

            {% for d in labels %}
                {% with dt=d|date:"SHORT_DATE_FORMAT" %}
                    var dtt = "{{dt}}";
                    dates.push(dtt)
                {% endwith %}
            {% endfor %}
            
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Total spent',
                        backgroundColor: 'rgb(0, 0, 0,0.0)',
                        borderColor: '#4BC0C0',
                        data: {{ data|safe }},
                    }]
                },

                // Configuration options go here
                options: {responsive: true}
            });
        
        </script>
        
    {% else %}
        <h1 class="shrugged text-center">¯\_(ツ)_/¯</h1>
        <h5 class="mt-4 text-center shrugged-caption">You didn't spend a single penny this month</h5>
    {% endif %}
    
</div>



{% endblock %}
